/* Keep speaker icon visible but disable click-to-mute in Firefox.
create file userCrome.css in the crome subfolder of the default profile's Root Directory.
The path to be found in about:profiles.
Something like /home/{username}/.mozilla/firefox/dssznlkl.default-esr/ .
There created  a folder "crome".
There create userChrome.css with the code bleow */

.tab-icon-overlay[soundplaying] {
    pointer-events: none !important;
}
